In [5]:
import requests
import hashlib
import random
import time

data = {
    'cid': "1",
    'funcid': "1",            # BTC_ETH
    'userid': '322276',    # 限价交易
    'phone': "15728090310",       # BUY SELL
    'passwd': hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest(),
    'coin': "XPV_USDT"
}


sign_str = "1"+"XPV_USDT"+"1"+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"15728090310"+"332031"+"29e7cd1355568058051e313c5h10d6wd882d2d9487984a2v083958d07fQ1eeM0"
sign_res = hashlib.md5(sign_str.encode('utf-8')).hexdigest()

url = "http://www.wlex.me/intf/v2.jsp?"+"cid=1&"+"coin=XPV_USDT&"+"funcid=1&"+"phone=15728090310&"+\
"passwd="+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"&"+"sign="+sign_res+"&"+"userid=332031"
r = requests.get(url)
res = r.text
rese = eval(res)
print (rese)
ask1 = float(rese['sales'][0]['price'])
bid1 = float(rese['buys'][0]['price'])
print ("ask1",ask1,"bid1",bid1)


def sell(price_buy,vol_buy):
    sign_str = "S1"+"XPV_USDT"+"2"+str(vol_buy)+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"15728090310"+str(price_buy)+"332031"+"29e7cd1355568058051e313c5h10d6wd882d2d9487984a2v083958d07fQ1eeM0"
    sign_res = hashlib.md5(sign_str.encode('utf-8')).hexdigest()
    url = "http://www.wlex.me/intf/v2.jsp?"+"cid=1&"+"coin=XPV_USDT&"+"funcid=2&"+"phone=15728090310"+"&"+"passwd="+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"&"+"sign="+sign_res+"&"+"userid=332031"+"&price="+str(price_buy)+"&num="+str(vol_buy)+"&bs=S"
    r = requests.get(url)
    res = r.text.replace("\n","")
    print (res)
    
    
def buy(price_buy,vol_buy):
    sign_str = "B1"+"XPV_USDT"+"2"+str(vol_buy)+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"15728090310"+str(price_buy)+"332031"+"29e7cd1355568058051e313c5h10d6wd882d2d9487984a2v083958d07fQ1eeM0"
    sign_res = hashlib.md5(sign_str.encode('utf-8')).hexdigest()
    url = "http://www.wlex.me/intf/v2.jsp?"+"cid=1&"+"coin=XPV_USDT&"+"funcid=2&"+"phone=15728090310"+"&"+"passwd="+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"&"+"sign="+sign_res+"&"+"userid=332031"+"&price="+str(price_buy)+"&num="+str(vol_buy)+"&bs=B"
    r = requests.get(url)
    res = r.text.replace("\n","")
    print (res)
      
#buy(0.13, 20)

{'status': '1', 'msg': 'ok', 'buys': [{'price': '0.048000', 'num': '21166.700000'}, {'price': '0.046500', 'num': '12003.200000'}, {'price': '0.045900', 'num': '20897.400000'}, {'price': '0.045210', 'num': '20004.900000'}, {'price': '0.045200', 'num': '26779.310000'}, {'price': '0.045000', 'num': '1177.339869'}, {'price': '0.044890', 'num': '23428.836823'}, {'price': '0.044610', 'num': '7242.581192'}, {'price': '0.044500', 'num': '1258.717781'}, {'price': '0.043500', 'num': '2000.000000'}], 'sales': [{'price': '0.048100', 'num': '500.000000'}, {'price': '0.049200', 'num': '29333.960000'}, {'price': '0.050000', 'num': '18460.646586'}, {'price': '0.050900', 'num': '35053.442146'}, {'price': '0.051800', 'num': '14666.980000'}, {'price': '0.052400', 'num': '30000.000000'}, {'price': '0.053500', 'num': '27146.782964'}, {'price': '0.053700', 'num': '24877.700000'}, {'price': '0.054100', 'num': '21993.100000'}, {'price': '0.055000', 'num': '47720.100000'}]}
ask1 0.0481 bid1 0.048

In [282]:
sell(0.04945, 26662)
#buy(0.0492, 20000)
#buy(0.0492,11331.7)

{"status":"1","msg":"ok","orderid":"594494972"}

In [200]:
price = 0.04866

import random
vol = random.randint(20000,30000)

dir_flag = random.randint(0,1)
if dir_flag==0:
    buy(price,vol)
    sell(price,vol)    
    print ("buy-sell:",price,vol)
else:
    sell(price,vol) 
    buy(price,vol)
    print ("sell-buy:",price,vol)

{"status":"1","msg":"ok","orderid":"593516462"}
{"status":"1","msg":"ok","orderid":"593516472"}
sell-buy: 0.04866 23913

In [75]:
import requests
import hashlib
import random
import time

data = {
    'cid': "1",
    'funcid': "4",            # BTC_ETH
    'userid': '322276',    # 限价交易
    'phone': "15728090310",       # BUY SELL
    'passwd': hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest(),
    'coin': "XPV"
}


sign_str = "1"+"XPV"+"4"+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"15728090310"+"332031"+"29e7cd1355568058051e313c5h10d6wd882d2d9487984a2v083958d07fQ1eeM0"
sign_res = hashlib.md5(sign_str.encode('utf-8')).hexdigest()

url = "http://www.wlex.me/intf/v2.jsp?"+"cid=1&"+"coin=XPV&"+"funcid=4&"+"phone=15728090310&"+\
"passwd="+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"&"+"sign="+sign_res+"&"+"userid=332031"
r = requests.get(url)
res = r.text
rese = eval(res)
print (rese)

{'status': '1', 'msg': 'ok', 'balance': '47706752.180718'}

In [252]:
import requests
import hashlib
import random
import time
data = {
    'BS':"ALL",
    'cid': "1",
    'funcid': "7",            # BTC_ETH
    'userid': '322276',    # 限价交易
    'phone': "15728090310",       # BUY SELL
    'passwd': hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest(),
    'coin': "XPV_USDT"
}

sign_str = "ALL1"+"XPV_USDT"+"7"+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"15728090310"+"332031"+"29e7cd1355568058051e313c5h10d6wd882d2d9487984a2v083958d07fQ1eeM0"
sign_res = hashlib.md5(sign_str.encode('utf-8')).hexdigest()

url = "http://www.wlex.me/intf/v2.jsp?"+"cid=1&"+"bs=ALL&"+"coin=XPV_USDT&"+"funcid=7&"+"phone=15728090310&"+\
"passwd="+hashlib.md5("0310zhangzh".encode('utf-8')).hexdigest()+"&"+"sign="+sign_res+"&"+"userid=332031"
r = requests.get(url)
res = r.text
rese = eval(res)
print (rese)

{'status': '0', 'msg': 'sign error'}

In [218]:
import numpy as np
import pandas as pd
a = np.array([[1,3,-4],[2,4,5],[3,4,6],[1,7,5],[2,4,6],[1,3,-4],[2,4,5],[3,5,6],[1,7,5],[2,np.nan,6],[1,3,-4],[2,4,5],[3,5,6],[1,7,5],[2,4,6]])
b = np.array([[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1]])
a/b

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  4.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  6.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  5.,  1.],
       [ 1.,  1.,  1.],
       [ 1., nan,  6.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  5.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  6.]])

In [219]:
pa = pd.DataFrame(a)
pb = pd.DataFrame(b)

In [269]:
np.mean(a[-1:],axis=0)

array([2., 4., 6.])

In [169]:
def corr(x, y):
    return cov(x, y) / np.std(x, axis=0) / np.std(y, axis=0)
def cov(x, y):
    return np.mean(np.multiply(x, y)) - np.mean(x, axis=0) * np.mean(y, axis=0)
def covar(a,b):
    #计算协方差
    a_disper = a - a.mean(axis=0)
    b_disper = b - b.mean(axis=0)
    cov_ab = (a_disper * b_disper).mean(axis=0)
     
    return cov_ab

#corr(pa[1].values[8:12], pa[2].values[8:12])
print (cov(pa.values[0:4], pb.values[0:4]))
print (covar(pa.values[0:4], pb.values[0:4]))

[13.1875 -0.625   7.25  ]
[ 0.6875  2.625  16.5   ]

In [5]:
res = np.cov(pa.values[0:4], pb.values[0:4],rowvar=False)
print (res)

[[ 0.91666667 -0.5         2.66666667  0.91666667 -1.75        2.66666667]
 [-0.5         3.          4.33333333 -0.5         3.5         4.33333333]
 [ 2.66666667  4.33333333 22.          2.66666667  1.33333333 22.        ]
 [ 0.91666667 -0.5         2.66666667  0.91666667 -1.75        2.66666667]
 [-1.75        3.5         1.33333333 -1.75        6.25        1.33333333]
 [ 2.66666667  4.33333333 22.          2.66666667  1.33333333 22.        ]]

In [783]:
np.diag(res)[:pa.shape[1]]

array([ 0.91666667,  3.        , 22.        ])

In [170]:
def cov0(x, y):
    return np.nanmean(np.multiply(x, y)) - np.nanmean(x, axis=0) * np.nanmean(y, axis=0)


def corr(x, y):
    return cov0(x, y) / np.std(x, axis=0) / np.std(y, axis=0)

def cov1(x, y):
    return corr(x, y)* np.std(x, axis=0,ddof=1) * np.std(y, axis=0,ddof=1)



def cor(x,y,n):
    A=np.tile(np.nan,x.shape)
    for i in range(n,len(x)+1):
        x1=x[i-n:i,:]
        y1=y[i-n:i,:]
        x2=(x1-x1.mean(axis=0))/x1.std(axis=0)
        y2=(y1-y1.mean(axis=0))/y1.std(axis=0)
        A[i-1,:]=(x2*y2).mean(axis=0)
    return A

def covar(a,b):
    #计算协方差
    a_disper = a - a.mean(axis=0)
    b_disper = b - b.mean(axis=0)
    cov_ab = (a_disper * b_disper).mean(axis=0)
    
    return cov_ab

def std(A,n):
    return pd.DataFrame(A).rolling(n).std().values

def cov2(x, y, n):
    return cor(x, y,n)[-1]* np.std(x, axis=0,ddof=1) * np.std(y, axis=0,ddof=1)

def cov3(x, y, n):
    return cor(x, y,n) * std(x,n) * std(y,n)

def cov4(x,y,n):
        A=np.tile(np.nan,x.shape)
        for i in range(n,len(x)+1):
                x1=x[i-n:i,:]
                y1=y[i-n:i,:]
                x2=(x1-x1.mean(axis=0))
                y2=(y1-y1.mean(axis=0))
                A[i-1,:]=(x2*y2).mean(axis=0)
        return A*(n)/(n-1)

    
def PearsonCorr(self,a,b):
    #计算Pearson相关性系数
    return self.covar(a,b)/np.sqrt(self.covar(a,a)*self.covar(b,b))

In [275]:
pa.abs()

      0    1    2
0   1.0  3.0  4.0
1   2.0  4.0  5.0
2   3.0  4.0  6.0
3   1.0  7.0  5.0
4   2.0  4.0  6.0
5   1.0  3.0  4.0
6   2.0  4.0  5.0
7   3.0  5.0  6.0
8   1.0  7.0  5.0
9   2.0  NaN  6.0
10  1.0  3.0  4.0
11  2.0  4.0  5.0
12  3.0  5.0  6.0
13  1.0  7.0  5.0
14  2.0  4.0  6.0

In [279]:
pa.abs().pct_change(3).shift(-4)

           0         1         2
0   0.000000  0.000000  0.200000
1  -0.666667 -0.250000 -0.333333
2   1.000000 -0.428571  0.000000
3   0.500000  0.250000  0.000000
4   0.000000  1.333333  0.250000
5   0.000000  0.750000  0.200000
6  -0.666667 -0.400000 -0.333333
7   1.000000 -0.428571  0.000000
8   0.500000 -0.285714  0.000000
9   0.000000  1.333333  0.250000
10  0.000000  0.000000  0.200000
11       NaN       NaN       NaN
12       NaN       NaN       NaN
13       NaN       NaN       NaN
14       NaN       NaN       NaN

In [171]:
c1 = pa.rolling(4).corr(pb)
c1

      0         1         2
0   NaN       NaN       NaN
1   NaN       NaN       NaN
2   NaN       NaN       NaN
3   1.0  0.808290  1.000000
4   1.0  0.816497 -0.390567
5   1.0  0.808290  0.860629
6   1.0  1.000000  0.848411
7   1.0 -0.577350  0.860629
8   1.0  0.605058  1.000000
9   1.0       NaN -0.390567
10  1.0       NaN  0.860629
11  1.0       NaN  0.848411
12  1.0       NaN  0.860629
13  1.0  0.605058  1.000000
14  1.0  0.577350 -0.390567

In [175]:
print (corr(a[-4:],b[-4:]))
print (cor(a[1:],b[1::],4)[-1])

[24.66666667 -1.41130066 -7.33397532]
[ 1.          0.57735027 -0.39056673]

In [9]:
cov1(pa[1][2:6].values,pb[1][2:6].values)

3.499999999999999

In [105]:
c2 = pa.rolling(4).corr(pb)
c2

           0         1         2
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2        NaN       NaN       NaN
3        NaN -0.577350  0.904534
4   0.852803 -0.333333 -0.980196
5   0.870388 -0.696311  0.843859
6   0.577350 -0.904534  0.848411
7   0.852803 -0.994937  0.860629
8   1.000000 -0.061721  1.000000
9   1.000000       NaN -0.390567
10  1.000000       NaN  0.860629
11  1.000000       NaN  0.848411
12  1.000000       NaN  0.860629
13  1.000000  0.605058  1.000000
14  1.000000  0.577350 -0.390567
15  1.000000  0.605058  0.860629
16  1.000000  1.000000  0.848411
17  1.000000  1.000000  0.831479
18  1.000000  1.000000  1.000000
19  1.000000  1.000000  1.000000
20  1.000000  1.000000  1.000000
21  1.000000  1.000000  1.000000
22  1.000000  1.000000  1.000000
23  1.000000  1.000000  1.000000
24  1.000000  1.000000  1.000000
25  1.000000  1.000000  1.000000
26  1.000000  1.000000  1.000000
27  1.000000  1.000000  1.000000
28  1.000000  1.000000  1.000000
29  1.000000  1.000000  1.000000

In [215]:
import  pandas as pd
df1 = pd.DataFrame(np.ones((4, 4))*1, columns=list('ABCD'))
df2 = pd.DataFrame(np.ones((4, 4))*2, columns=list('ABCD'))
print (df1)
print (df2)
dfn = pd.concat([df1, df2])
print (dfn)
df43 = pd.DataFrame(columns=list('ABCD'))
df43

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
     A    B    C    D
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
3  2.0  2.0  2.0  2.0
     A    B    C    D
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
3  2.0  2.0  2.0  2.0

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [71]:
pd.DataFrame(cv).median()

0     0.666667
1     2.291667
2    19.000000
dtype: float64

In [31]:
cov2(pa.iloc[1:5].values, pb.iloc[1:5].values,4)

array([ 0.66666667,  3.        , -0.5       ])

In [118]:
def numstd(data):
    res = np.std(data, axis=0, ddof=1)
    print ('res')
    print(res)
    print ('data',data)
    print (data[-1:])
    valid=np.isfinite(data[-1])
    print (valid)
    
    
    return res
    
print (np.std(pa.iloc[6:10].values, axis=0, ddof=1))
#print (numstd(pa.iloc[6:10].values))
print (pa.rolling(4).std())

[0.81649658        nan 0.57735027]
           0         1         2
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2        NaN       NaN       NaN
3   0.957427  1.732051  4.690416
4   0.816497  1.500000  0.577350
5   0.957427  1.732051  4.856267
6   0.577350  1.732051  4.690416
7   0.816497  0.816497  4.856267
8   0.957427  1.707825  4.690416
9   0.816497       NaN  0.577350
10  0.957427       NaN  4.856267
11  0.577350       NaN  4.690416
12  0.816497       NaN  4.856267
13  0.957427  1.707825  4.690416
14  0.816497  1.414214  0.577350

In [126]:
a = [[1,2,3],[2,3,4],[3,5,7],[4,6,8]]
b = np.array(a)

In [127]:
b

array([[1, 2, 3],
       [2, 3, 4],
       [3, 5, 7],
       [4, 6, 8]])

In [128]:
a.pop(0)

[1, 2, 3]

In [129]:
a

[[2, 3, 4], [3, 5, 7], [4, 6, 8]]

In [130]:
aa = np.array(a)
aa

array([[2, 3, 4],
       [3, 5, 7],
       [4, 6, 8]])

In [131]:
aa.tolist()

[[2, 3, 4], [3, 5, 7], [4, 6, 8]]

In [219]:
import numpy as np
import pandas as pd
a = np.array([[np.nan,3,-4],[2,4,5],[3,4,6],[1,7,5],[2,4,6],[1,3,-4],[2,4,5],[3,5,6],[1,7,5],[2,np.nan,6],[1,3,-4],[2,4,5],[3,5,6],[1,7,5],[2,4,6],[1,3.0,-4],[2,1,5],[3,1,2],[1,1,5],[1,4,1],[1,8,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1]])
b = np.array([[1,3.0,-4],[2,1,5],[3,1,2],[1,1,5],[1,4,1],[1,8,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3.0,-4],[2,1,5],[3,1,2],[1,1,5],[1,4,1],[1,8,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1],[1,3,-4],[2,4,5],[3,1,6],[1,7,5],[2,4,1]])
pa = pd.DataFrame(a)
pb = pd.DataFrame(b)

In [98]:
def ema(x,n):
    if (n==1):
        return x
    alpha = 1.0/(n+1)
    lastfactor = np.full(x.shape[1], np.nan, dtype=np.float64)
    res = np.full(x.shape, np.nan, dtype=np.float64)
    for i in range(len(x)):
        valid = np.isfinite(x[i,:])
        lastvalid = np.isfinite(lastfactor[valid])
        tem = x[i,:][valid]
        tem[lastvalid] = alpha* tem[lastvalid] + (1-alpha)*(lastfactor[valid])[lastvalid]
        res[i,:][valid] = tem[:]
        res[i,:][~valid] = lastfactor[~valid]
        #print('res', res)
        lastfactor[:] = res[i,:]
    return res

In [99]:
ema(a,3)

array([[        nan,  3.        , -4.        ],
       [ 2.        ,  3.25      , -1.75      ],
       [ 2.25      ,  3.4375    ,  0.1875    ],
       [ 1.9375    ,  4.328125  ,  1.390625  ],
       [ 1.953125  ,  4.24609375,  2.54296875],
       [ 1.71484375,  3.93457031,  0.90722656],
       [ 1.78613281,  3.95092773,  1.93041992],
       [ 2.08959961,  4.2131958 ,  2.94781494],
       [ 1.81719971,  4.90989685,  3.46086121],
       [ 1.86289978,  4.90989685,  4.0956459 ],
       [ 1.64717484,  4.43242264,  2.07173443],
       [ 1.73538113,  4.32431698,  2.80380082],
       [ 2.05153584,  4.49323773,  3.60285062],
       [ 1.78865188,  5.1199283 ,  3.95213796],
       [ 1.84148891,  4.83994623,  4.46410347],
       [ 1.63111668,  4.37995967,  2.3480776 ],
       [ 1.72333751,  3.53496975,  3.0110582 ],
       [ 2.04250314,  2.90122731,  2.75829365],
       [ 1.78187735,  2.42592049,  3.31872024],
       [ 1.58640801,  2.81944036,  2.73904018],
       [ 1.43980601,  4.11458027,  1.05428013],
       [ 1.57985451,  4.0859352 ,  2.0407101 ],
       [ 1.93489088,  3.3144514 ,  3.03053258],
       [ 1.70116816,  4.23583855,  3.52289943],
       [ 1.77587612,  4.17687891,  2.89217457],
       [ 1.58190709,  3.88265919,  1.16913093],
       [ 1.68643032,  3.91199439,  2.1268482 ],
       [ 2.01482274,  3.18399579,  3.09513615],
       [ 1.76111705,  4.13799684,  3.57135211],
       [ 1.82083779,  4.10349763,  2.92851408]])

In [100]:
def ema2(x,n, lastfactor):
    if (n==1):
        return x
    alpha = 1.0/(n+1)
    res = np.full(x.shape, np.nan, dtype=np.float64)
    #for i in range(len(x)):
    valid = np.isfinite(x)
    print (valid)
    print ("lastfactor",lastfactor.shape,valid.shape)
    lastvalid = np.isfinite(lastfactor[valid])
    tem = x[valid]
    tem[lastvalid] = alpha* tem[lastvalid] + (1-alpha)*(lastfactor[valid])[lastvalid]
    res[:][valid] = tem[:]
    res[:][~valid] = lastfactor[~valid]
    #print('res', res)
    lastfactor[:] = res[:]
    return res, lastfactor
        
    
lastfactor = np.full(a.shape[1], np.nan, dtype=np.float64)
print (lastfactor.shape)
for i in range(a.shape[0]):
    aa = a[i,:]
    res,lastfactor = ema2(x=aa,n=3,lastfactor=lastfactor)
    print (res,aa.shape)

(3,)
[False  True  True]
lastfactor (3,) (3,)
[nan  3. -4.] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[ 2.    3.25 -1.75] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[2.25   3.4375 0.1875] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.9375   4.328125 1.390625] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.953125   4.24609375 2.54296875] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.71484375 3.93457031 0.90722656] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.78613281 3.95092773 1.93041992] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[2.08959961 4.2131958  2.94781494] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.81719971 4.90989685 3.46086121] (3,)
[ True False  True]
lastfactor (3,) (3,)
[1.86289978 4.90989685 4.0956459 ] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.64717484 4.43242264 2.07173443] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.73538113 4.32431698 2.80380082] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[2.05153584 4.49323773 3.60285062] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.78865188 5.1199283  3.95213796] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.84148891 4.83994623 4.46410347] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.63111668 4.37995967 2.3480776 ] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.72333751 3.53496975 3.0110582 ] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[2.04250314 2.90122731 2.75829365] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.78187735 2.42592049 3.31872024] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.58640801 2.81944036 2.73904018] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.43980601 4.11458027 1.05428013] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.57985451 4.0859352  2.0407101 ] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.93489088 3.3144514  3.03053258] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.70116816 4.23583855 3.52289943] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.77587612 4.17687891 2.89217457] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.58190709 3.88265919 1.16913093] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.68643032 3.91199439 2.1268482 ] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[2.01482274 3.18399579 3.09513615] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.76111705 4.13799684 3.57135211] (3,)
[ True  True  True]
lastfactor (3,) (3,)
[1.82083779 4.10349763 2.92851408] (3,)

In [479]:
pa.rolling(2).std().ewm(4,adjust=False).mean()

           0         1         2
0        NaN       NaN       NaN
1   0.707107  0.707107  6.363961
2   0.707107  0.565685  5.232590
3   0.848528  0.876812  4.327494
4   0.820244  1.125714  3.603416
5   0.797616  1.041993  4.296946
6   0.779515  0.975015  4.710349
7   0.765033  0.921434  3.909701
8   0.894869  1.019990  3.269182
9   0.857317  1.019990  2.756767
10  0.827275  1.019990  3.619627
11  0.803241  0.932101  4.168494
12  0.784014  0.887102  3.476217
13  0.910054  0.992525  2.922395
14  0.869465  1.218284  2.479337
15  0.836993  1.116048  3.397683
16  0.811016  1.175681  3.990939
17  0.790234  0.940545  3.617015
18  0.915030  0.752436  3.317876
19  0.732024  1.026213  3.219986
20  0.585619  1.386656  3.283096
21  0.609917  1.675010  3.899269
22  0.629355  1.764272  3.260836
23  0.786326  2.259946  2.750091
24  0.770483  2.232221  2.765758
25  0.757807  1.927198  2.919713
26  0.747667  1.683180  3.608563
27  0.739555  1.770808  3.028271
28  0.874487  2.265174  2.564039
29  0.841011  2.236404  2.616916

In [378]:
pa.rolling(4).std()

           0         1         2
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2        NaN       NaN       NaN
3   0.957427  1.732051  4.690416
4   0.816497  1.500000  0.577350
5   0.957427  1.732051  4.856267
6   0.577350  1.732051  4.690416
7   0.816497  0.816497  4.856267
8   0.957427  1.707825  4.690416
9   0.816497       NaN  0.577350
10  0.957427       NaN  4.856267
11  0.577350       NaN  4.690416
12  0.816497       NaN  4.856267
13  0.957427  1.707825  4.690416
14  0.816497  1.414214  0.577350
15  0.957427  1.707825  4.856267
16  0.577350  2.500000  4.690416
17  0.816497  1.500000  4.500000
18  0.957427  1.000000  4.242641
19  0.957427  1.500000  2.061553
20  1.000000  3.316625  3.741657
21  0.500000  2.872281  4.272002
22  0.957427  2.872281  4.546061
23  0.957427  3.162278  4.690416
24  0.816497  2.449490  2.217356
25  0.957427  2.500000  4.546061
26  0.577350  1.732051  4.272002
27  0.816497  1.414214  4.546061
28  0.957427  2.500000  4.690416
29  0.816497  2.449490  2.217356

In [341]:
pa.rolling(14).mean()

           0         1         2
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2        NaN       NaN       NaN
3        NaN       NaN       NaN
4        NaN       NaN       NaN
5        NaN       NaN       NaN
6        NaN       NaN       NaN
7        NaN       NaN       NaN
8        NaN       NaN       NaN
9        NaN       NaN       NaN
10       NaN       NaN       NaN
11       NaN       NaN       NaN
12       NaN       NaN       NaN
13  1.785714       NaN  3.428571
14  1.857143       NaN  4.142857
15  1.785714       NaN  3.500000
16  1.714286       NaN  3.428571
17  1.857143       NaN  3.214286
18  1.785714       NaN  3.142857
19  1.785714       NaN  3.500000
20  1.714286       NaN  2.857143
21  1.642857       NaN  2.785714
22  1.785714       NaN  2.857143
23  1.714286  3.785714  2.785714
24  1.785714  3.857143  3.142857
25  1.714286  3.785714  2.500000
26  1.642857  3.714286  2.428571
27  1.785714  3.285714  2.500000
28  1.714286  3.500000  2.428571
29  1.785714  3.571429  2.785714

In [15]:
pb.ewm(5).std()

           0         1         2
0        NaN       NaN       NaN
1   0.707107  1.414214  6.363961
2   0.997249  1.099450  4.340583
3   0.985803  0.905357  3.916451
4   0.898072  1.522868  3.315126
5   0.806748  3.107443  4.057379
6   0.749199  2.696943  4.061985
7   0.922921  2.649596  4.068446
8   0.898782  2.895283  3.754360
9   0.811769  2.579027  3.457128
10  0.791522  2.340868  4.168621
11  0.730033  2.106069  4.037510
12  0.852988  2.217560  3.983942
13  0.856908  2.511343  3.711271
14  0.781941  2.273169  3.472584
15  0.778036  2.096502  4.165927
16  0.719339  2.206219  4.019191
17  0.829652  2.204682  3.652411
18  0.841609  2.142736  3.508027
19  0.825432  2.029501  3.257805
20  0.793504  2.757391  3.888529
21  0.745682  2.514271  3.833891
22  0.871623  2.534690  3.846771
23  0.861700  2.733105  3.630807
24  0.794113  2.492020  3.402908
25  0.782442  2.301541  4.060132
26  0.728414  2.101053  3.942967
27  0.839722  2.210796  3.904090
28  0.845014  2.475008  3.666746
29  0.776823  2.258291  3.449857

In [329]:
b[-5:].std(axis=0,ddof=1) *(b[-5:].std(axis=0,ddof=1))

array([ 0.7,  4.7, 17.3])

In [335]:
a= []
a.append([1,2,3])
a.append([2,3,5])
a

[[1, 2, 3], [2, 3, 5]]

In [337]:
np.array(a)[-2:].mean(axis=0)

array([1.5, 2.5, 4. ])

In [366]:
pa.min()

0    1.0
1    1.0
2   -4.0
dtype: float64

In [367]:
pa-pa.min()

      0    1     2
0   0.0  2.0   0.0
1   1.0  3.0   9.0
2   2.0  3.0  10.0
3   0.0  6.0   9.0
4   1.0  3.0  10.0
5   0.0  2.0   0.0
6   1.0  3.0   9.0
7   2.0  4.0  10.0
8   0.0  6.0   9.0
9   1.0  NaN  10.0
10  0.0  2.0   0.0
11  1.0  3.0   9.0
12  2.0  4.0  10.0
13  0.0  6.0   9.0
14  1.0  3.0  10.0
15  0.0  2.0   0.0
16  1.0  0.0   9.0
17  2.0  0.0   6.0
18  0.0  0.0   9.0
19  0.0  3.0   5.0
20  0.0  7.0   0.0
21  1.0  3.0   9.0
22  2.0  0.0  10.0
23  0.0  6.0   9.0
24  1.0  3.0   5.0
25  0.0  2.0   0.0
26  1.0  3.0   9.0
27  2.0  0.0  10.0
28  0.0  6.0   9.0
29  1.0  3.0   5.0

In [372]:
np.nanmin(a,axis=0)

array([ 1.,  1., -4.])

In [374]:
a-np.nanmin(a,axis=0)

array([[ 0.,  2.,  0.],
       [ 1.,  3.,  9.],
       [ 2.,  3., 10.],
       [ 0.,  6.,  9.],
       [ 1.,  3., 10.],
       [ 0.,  2.,  0.],
       [ 1.,  3.,  9.],
       [ 2.,  4., 10.],
       [ 0.,  6.,  9.],
       [ 1., nan, 10.],
       [ 0.,  2.,  0.],
       [ 1.,  3.,  9.],
       [ 2.,  4., 10.],
       [ 0.,  6.,  9.],
       [ 1.,  3., 10.],
       [ 0.,  2.,  0.],
       [ 1.,  0.,  9.],
       [ 2.,  0.,  6.],
       [ 0.,  0.,  9.],
       [ 0.,  3.,  5.],
       [ 0.,  7.,  0.],
       [ 1.,  3.,  9.],
       [ 2.,  0., 10.],
       [ 0.,  6.,  9.],
       [ 1.,  3.,  5.],
       [ 0.,  2.,  0.],
       [ 1.,  3.,  9.],
       [ 2.,  0., 10.],
       [ 0.,  6.,  9.],
       [ 1.,  3.,  5.]])

In [162]:
# def ewmcov(float64_t[:] input_x, float64_t[:] input_y,
#            float64_t com, int adjust, int ignore_na, int minp, int bias):
def ewmcov(input_x, input_y,com, adjust, ignore_na, minp, bias):
    """
    Compute exponentially-weighted moving variance using center-of-mass.
    Parameters
    ----------
    input_x : ndarray (float64 type)
    input_y : ndarray (float64 type)
    com : float64
    adjust: int
    ignore_na: int
    minp: int
    bias: int
    Returns
    -------
    y : ndarray
    """

#     cdef:
#         Py_ssize_t N = len(input_x)
#         float64_t alpha, old_wt_factor, new_wt, mean_x, mean_y, cov
#         float64_t sum_wt, sum_wt2, old_wt, cur_x, cur_y, old_mean_x, old_mean_y
#         Py_ssize_t i, nobs
#         ndarray[float64_t] output

#     if <Py_ssize_t>len(input_y) != N:
#         raise ValueError("arrays are of different lengths "
#                          "({N} and {len_y})".format(N=N, len_y=len(input_y)))
    N = len(input_x)
    output = np.empty(N, dtype=float)
    if N == 0:
        return output

    minp = max(minp, 1)

    alpha = 1. / (1. + com)
    old_wt_factor = 1. - alpha
    new_wt = 1. if adjust else alpha

    mean_x = input_x[0]
    mean_y = input_y[0]
    is_observation = ((mean_x == mean_x) and (mean_y == mean_y))
    
    nobs = int(is_observation)
    if not is_observation:
        mean_x = np.NaN
        mean_y = np.NaN
    output[0] = (0. if bias else np.NaN) if (nobs >= minp) else np.NaN
    cov = 0.
    sum_wt = 1.
    sum_wt2 = 1.
    old_wt = 1.

    for i in range(1, N):
        cur_x = input_x[i]
        cur_y = input_y[i]
        is_observation = ((cur_x == cur_x) and (cur_y == cur_y))
        nobs += int(is_observation)
        if mean_x == mean_x:
            if is_observation or (not ignore_na):
                sum_wt *= old_wt_factor
                sum_wt2 *= (old_wt_factor * old_wt_factor)
                old_wt *= old_wt_factor
                if is_observation:
                    old_mean_x = mean_x
                    old_mean_y = mean_y
                    if mean_x != cur_x:
                        mean_x = ((old_wt * old_mean_x) +
                                  (new_wt * cur_x)) / (old_wt + new_wt)

                    # avoid numerical errors on constant series
                    if mean_y != cur_y:
                        mean_y = ((old_wt * old_mean_y) +
                                  (new_wt * cur_y)) / (old_wt + new_wt)
                    cov = ((old_wt * (cov + ((old_mean_x - mean_x) *
                                             (old_mean_y - mean_y)))) +
                           (new_wt * ((cur_x - mean_x) *
                                      (cur_y - mean_y)))) / (old_wt + new_wt)
                    
                    sum_wt += new_wt
                    sum_wt2 += (new_wt * new_wt)
                    old_wt += new_wt
                    if not adjust:
                        sum_wt /= old_wt
                        sum_wt2 /= (old_wt * old_wt)
                        old_wt = 1.
        elif is_observation:
            mean_x = cur_x
            mean_y = cur_y

        if nobs >= minp:
            if not bias:
                numerator = sum_wt * sum_wt
                denominator = numerator - sum_wt2
                if (denominator > 0.):
                    output[i] = ((numerator / denominator) * cov)
                else:
                    output[i] = np.NaN
            else:
                output[i] = cov
        else:
            output[i] = np.NaN
    return output

In [542]:
def ewmcovN(aa,bb,com):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(aa.shape[1]):
        aaN = aa[:,ii]
        bbN = bb[:,ii]
        res[:,ii] = ewmcov(aaN, bbN,com=com, adjust=True, ignore_na=False, minp=0, bias=False)
    return res

def ewmstdN(aa,com):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(aa.shape[1]):
        aaN = aa[:,ii]
        res[:,ii] = np.sqrt(ewmcov(aaN, aaN,com=com, adjust=True, ignore_na=False, minp=0, bias=False))
    return res

def ewmcorrN(aa,bb,com):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    rescov = np.full(aa.shape, np.nan, dtype=np.float64)
    resstd1 = np.full(aa.shape, np.nan, dtype=np.float64)
    resstd2 = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(aa.shape[1]):
        aaN = aa[:,ii]
        bbN = bb[:,ii]
        rescov[:,ii] = ewmcov(aaN, bbN,com=com, adjust=True, ignore_na=False, minp=0, bias=False)
        resstd1[:,ii] = np.sqrt(ewmcov(aaN, aaN,com=com, adjust=True, ignore_na=False, minp=0, bias=False))
        resstd2[:,ii] = np.sqrt(ewmcov(bbN, bbN,com=com, adjust=True, ignore_na=False, minp=0, bias=False))
    res = rescov/(resstd1 * resstd2)
    return res

In [78]:
ewmcov(a[0:,1], a[0:,1],com=50, adjust=True, ignore_na=False, minp=0, bias=False)

array([       nan, 0.5       , 0.33002222, 3.03943672, 2.31467006,
       2.18248733, 1.80488983, 1.62830924, 2.30356225, 2.30356225,
       2.2996108 , 2.06213938, 1.88972665, 2.28442946, 2.1195958 ,
       2.1417837 , 2.84969162, 3.35431885, 3.71012912, 3.46798342,
       4.29717071, 4.03792957, 4.32318654, 4.59733729, 4.34960718,
       4.1787095 , 3.9676989 , 4.19848742, 4.45056084, 4.24453297])

In [163]:
ewmcov(a[:,1], b[:,1],com=10, adjust=True, ignore_na=False, minp=0, bias=False)

array([        nan, -1.        , -0.63444109, -0.94872251, -1.05590263,
       -2.57026606, -2.05645208, -2.00903398, -0.03798039, -0.03798039,
        0.13448643,  0.08423723, -0.14625872,  1.09499012,  0.92330334,
        0.9614727 ,  1.91487082,  2.49183883,  2.8147166 ,  2.56799152,
        4.65269095,  4.1474222 ,  4.47185802,  5.2276109 ,  4.68452053,
        4.27382816,  3.84393429,  4.19882287,  4.92133137,  4.43725449])

In [114]:
pa.ewm(10).cov(pb)

           0         1          2
0        NaN       NaN        NaN
1   0.500000 -1.000000  40.500000
2   0.998489 -0.634441  21.657100
3   0.943077 -0.948723  16.198528
4   0.630673 -1.055903  10.768945
5   0.573213 -2.570266  17.662486
6   0.487878 -2.056452  16.031758
7   0.698910 -2.009034  15.364156
8   0.692600 -0.037980  13.420795
9   0.593110 -0.037980  10.723538
10  0.584384  0.134486  16.011581
11  0.516888  0.084237  14.713687
12  0.651821 -0.146259  14.144361
13  0.658077  1.094990  12.770529
14  0.583074  0.923303  10.711407
15  0.583134  0.961473  15.271983
16  0.524992  1.914871  14.167108
17  0.634768  2.491839  12.588447
18  0.643849  2.814717  11.742880
19  0.635888  2.567992  10.818846
20  0.616689  4.652691  14.156356
21  0.565872  4.147422  13.548993
22  0.681943  4.471858  13.466914
23  0.673875  5.227611  12.598622
24  0.613256  4.684521  11.670894
25  0.604654  4.273828  14.785650
26  0.554713  3.843934  14.126439
27  0.656520  4.198823  13.975557
28  0.656401  4.921331  13.095220
29  0.598432  4.437254  12.165244

In [6]:
# def ewmcov(float64_t[:] input_x, float64_t[:] input_y,
#            float64_t com, int adjust, int ignore_na, int minp, int bias):
def cur_ewmcov(cur_x, cur_y,com,sum_wt,sum_wt2,old_wt,mean_x,mean_y,cov,  adjust=True, ignore_na=False, minp=0, bias=False ):
    """
    Compute exponentially-weighted moving variance using center-of-mass.
    Parameters
    ----------
    input_x : ndarray (float64 type)
    input_y : ndarray (float64 type)
    com : float64
    adjust: int
    ignore_na: int
    minp: int
    bias: int
    Returns
    -------
    y : ndarray
    """

#     cdef:
#         Py_ssize_t N = len(input_x)
#         float64_t alpha, old_wt_factor, new_wt, mean_x, mean_y, cov
#         float64_t sum_wt, sum_wt2, old_wt, cur_x, cur_y, old_mean_x, old_mean_y
#         Py_ssize_t i, nobs
#         ndarray[float64_t] output

#     if <Py_ssize_t>len(input_y) != N:
#         raise ValueError("arrays are of different lengths "
#                          "({N} and {len_y})".format(N=N, len_y=len(input_y)))



    minp = max(minp, 1)

    alpha = 1. / (1. + com)
    old_wt_factor = 1. - alpha


    new_wt = 1. if adjust else alpha
#     is_observation = ((mean_x == mean_x) and (mean_y == mean_y))
    
#     nobs = int(is_observation)
#     if not is_observation:
#         mean_x = np.NaN
#         mean_y = np.NaN
#     print ("before","is_observation",is_observation, "nobs",nobs)

#===========

    is_observation = ((cur_x == cur_x) and (cur_y == cur_y))
    if mean_x == mean_x:
        if is_observation or (not ignore_na):
            sum_wt *= old_wt_factor
            sum_wt2 *= (old_wt_factor * old_wt_factor)
            old_wt *= old_wt_factor
            if is_observation:
                old_mean_x = mean_x
                old_mean_y = mean_y

                if mean_x != cur_x:
                    mean_x = ((old_wt * old_mean_x) +
                              (new_wt * cur_x)) / (old_wt + new_wt)

                # avoid numerical errors on constant series
                if mean_y != cur_y:
                    mean_y = ((old_wt * old_mean_y) +
                              (new_wt * cur_y)) / (old_wt + new_wt)
                cov = ((old_wt * (cov + ((old_mean_x - mean_x) *
                                         (old_mean_y - mean_y)))) +
                       (new_wt * ((cur_x - mean_x) *
                                  (cur_y - mean_y)))) / (old_wt + new_wt)
                sum_wt += new_wt
                sum_wt2 += (new_wt * new_wt)
                old_wt += new_wt
                if not adjust:
                    sum_wt /= old_wt
                    sum_wt2 /= (old_wt * old_wt)
                    old_wt = 1.
    elif is_observation:
        mean_x = cur_x
        mean_y = cur_y
        
    nobs = 1
    if nobs >= minp:
        if not bias:
            numerator = sum_wt * sum_wt
            denominator = numerator - sum_wt2
            if (denominator > 0.):
                output = ((numerator / denominator) * cov)
            else:
                output = np.NaN
        else:
            output = cov
    else:
        output = np.NaN
    return sum_wt,sum_wt2,old_wt,mean_x,mean_y,cov,output

In [47]:
def ewmcovN(aa,bb,com,mean_x_list,mean_y_list,cov_list,sum_wt_list,sum_wt2_list,old_wt_list):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(len(aa)):
        cur_x,cur_y = aa[ii],bb[ii]
        sum_wt,sum_wt,sum_wt2,old_wt = sum_wt_list[ii],sum_wt_list[ii],sum_wt2_list[ii],old_wt_list[ii]
        mean_x,mean_y,cov = mean_x_list[ii],mean_y_list[ii],cov_list[ii]
        sum_wt,sum_wt2,old_wt,mean_x,mean_y,cov,output = cur_ewmcov(cur_x, cur_y,com,sum_wt,sum_wt2,old_wt,mean_x,mean_y,cov,  adjust=True, ignore_na=False, minp=0, bias=False )
        sum_wt_list[ii],sum_wt_list[ii],sum_wt2_list[ii],old_wt_list[ii] = sum_wt,sum_wt,sum_wt2,old_wt
        mean_x_list[ii],mean_y_list[ii],cov_list[ii] = mean_x,mean_y,cov
        res[ii] = output
    return mean_x_list,mean_y_list,cov_list,sum_wt_list,sum_wt2_list,old_wt_list,res

def ewmstdN(aa,bb,com,std_mean_x_list,std_mean_y_list,std_cov_list,std_sum_wt_list,std_sum_wt2_list,std_old_wt_list):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(len(aa)):
        cur_x,cur_y = aa[ii],aa[ii]
        std_sum_wt,std_sum_wt,std_sum_wt2,std_old_wt = std_sum_wt_list[ii],std_sum_wt_list[ii],std_sum_wt2_list[ii],std_old_wt_list[ii]
        std_mean_x,std_mean_y,std_cov = std_mean_x_list[ii],std_mean_y_list[ii],std_cov_list[ii]
        std_sum_wt,std_sum_wt2,std_old_wt,std_mean_x,std_mean_y,std_cov,output = cur_ewmcov(cur_x, cur_y,com,std_sum_wt,std_sum_wt2,std_old_wt,std_mean_x,std_mean_y,std_cov,  adjust=True, ignore_na=False, minp=0, bias=False )
        std_sum_wt_list[ii],std_sum_wt_list[ii],std_sum_wt2_list[ii],std_old_wt_list[ii] = std_sum_wt,std_sum_wt,std_sum_wt2,std_old_wt
        std_mean_x_list[ii],std_mean_y_list[ii],std_cov_list[ii] = std_mean_x,std_mean_y,std_cov
        res[ii] = np.sqrt(output)
    return std_mean_x_list,std_mean_y_list,std_cov_list,std_sum_wt_list,std_sum_wt2_list,std_old_wt_list,res

def ewmcorrN(aa,bb,com,corr_mean_x_list,corr_mean_y_list,corr_cov_list,corr_sum_wt_list,corr_sum_wt2_list,corr_old_wt_list\
            ,corr_std1_mean_x_list,corr_std1_mean_y_list,corr_std1_cov_list,corr_std1_sum_wt_list,corr_std1_sum_wt2_list,corr_std1_old_wt_list\
            ,corr_std2_mean_x_list,corr_std2_mean_y_list,corr_std2_cov_list,corr_std2_sum_wt_list,corr_std2_sum_wt2_list,corr_std2_old_wt_list):
    res = np.full(aa.shape, np.nan, dtype=np.float64)
    rescov = np.full(aa.shape, np.nan, dtype=np.float64)
    resstd1 = np.full(aa.shape, np.nan, dtype=np.float64)
    resstd2 = np.full(aa.shape, np.nan, dtype=np.float64)
    for ii in range(len(aa)):
        cur_x,cur_y = aa[ii],bb[ii]
        corr_sum_wt,corr_sum_wt,corr_sum_wt2,corr_old_wt = corr_sum_wt_list[ii],corr_sum_wt_list[ii],corr_sum_wt2_list[ii],corr_old_wt_list[ii]
        corr_mean_x,corr_mean_y,corr_cov = corr_mean_x_list[ii],corr_mean_y_list[ii],corr_cov_list[ii]
        corr_sum_wt,corr_sum_wt2,corr_old_wt,corr_mean_x,corr_mean_y,corr_cov,output1 = cur_ewmcov(cur_x, cur_y,com,corr_sum_wt,corr_sum_wt2,corr_old_wt,corr_mean_x,corr_mean_y,corr_cov,  adjust=True, ignore_na=False, minp=0, bias=False )
        corr_sum_wt_list[ii],corr_sum_wt_list[ii],corr_sum_wt2_list[ii],corr_old_wt_list[ii] = corr_sum_wt,corr_sum_wt,corr_sum_wt2,corr_old_wt
        corr_mean_x_list[ii],corr_mean_y_list[ii],corr_cov_list[ii] = corr_mean_x,corr_mean_y,corr_cov
        rescov[ii] = output1

        corr_std1_sum_wt,corr_std1_sum_wt,corr_std1_sum_wt2,corr_std1_old_wt = corr_std1_sum_wt_list[ii],corr_std1_sum_wt_list[ii],corr_std1_sum_wt2_list[ii],corr_std1_old_wt_list[ii]
        corr_std1_mean_x,corr_std1_mean_y,corr_std1_cov = corr_std1_mean_x_list[ii],corr_std1_mean_y_list[ii],corr_std1_cov_list[ii]
        corr_std1_sum_wt,corr_std1_sum_wt2,corr_std1_old_wt,corr_std1_mean_x,corr_std1_mean_y,corr_std1_cov,output2 = cur_ewmcov(cur_x, cur_x,com,corr_std1_sum_wt,corr_std1_sum_wt2,corr_std1_old_wt,corr_std1_mean_x,corr_std1_mean_y,corr_std1_cov,  adjust=True, ignore_na=False, minp=0, bias=False )
        corr_std1_sum_wt_list[ii],corr_std1_sum_wt_list[ii],corr_std1_sum_wt2_list[ii],corr_std1_old_wt_list[ii] = corr_std1_sum_wt,corr_std1_sum_wt,corr_std1_sum_wt2,corr_std1_old_wt
        corr_std1_mean_x_list[ii],corr_std1_mean_y_list[ii],corr_std1_cov_list[ii] = corr_std1_mean_x,corr_std1_mean_y,corr_std1_cov
        resstd1[ii] = np.sqrt(output2)
        
        corr_std2_sum_wt,corr_std2_sum_wt,corr_std2_sum_wt2,corr_std2_old_wt = corr_std2_sum_wt_list[ii],corr_std2_sum_wt_list[ii],corr_std2_sum_wt2_list[ii],corr_std2_old_wt_list[ii]
        corr_std2_mean_x,corr_std2_mean_y,corr_std2_cov = corr_std2_mean_x_list[ii],corr_std2_mean_y_list[ii],corr_std2_cov_list[ii]
        corr_std2_sum_wt,corr_std2_sum_wt2,corr_std2_old_wt,corr_std2_mean_x,corr_std2_mean_y,corr_std2_cov,output3 = cur_ewmcov(cur_y, cur_y,com,corr_std2_sum_wt,corr_std2_sum_wt2,corr_std2_old_wt,corr_std2_mean_x,corr_std2_mean_y,corr_std2_cov,  adjust=True, ignore_na=False, minp=0, bias=False )
        corr_std2_sum_wt_list[ii],corr_std2_sum_wt_list[ii],corr_std2_sum_wt2_list[ii],corr_std2_old_wt_list[ii] = corr_std2_sum_wt,corr_std2_sum_wt,corr_std2_sum_wt2,corr_std2_old_wt
        corr_std2_mean_x_list[ii],corr_std2_mean_y_list[ii],corr_std2_cov_list[ii] = corr_std2_mean_x,corr_std2_mean_y,corr_std2_cov
        resstd2[ii] = np.sqrt(output3)
        #res[ii] = rescov[ii]#/(resstd1[ii] * resstd2[ii])
        res[ii] = resstd1[ii] * resstd1[ii]
    return corr_mean_x_list,corr_mean_y_list,corr_cov_list,corr_sum_wt_list,corr_sum_wt2_list,corr_old_wt_list\
            ,corr_std1_mean_x_list,corr_std1_mean_y_list,corr_std1_cov_list,corr_std1_sum_wt_list,corr_std1_sum_wt2_list,corr_std1_old_wt_list\
            ,corr_std2_mean_x_list,corr_std2_mean_y_list,corr_std2_cov_list,corr_std2_sum_wt_list,corr_std2_sum_wt2_list,corr_std2_old_wt_list,res

In [48]:
corr_mean_x_list, corr_mean_y_list = a[0,:], a[0,:]
corr_std1_mean_x_list, corr_std1_mean_y_list = a[0,:], a[0,:]
corr_std2_mean_x_list, corr_std2_mean_y_list = a[0,:], a[0,:]

corr_cov_list = [0.]*a.shape[1]
corr_sum_wt_list = [1.]*a.shape[1]
corr_sum_wt2_list = [1.]*a.shape[1]
corr_old_wt_list = [1.]*a.shape[1]
corr_std1_cov_list = [0.]*a.shape[1]
corr_std1_sum_wt_list = [1.]*a.shape[1]
corr_std1_sum_wt2_list = [1.]*a.shape[1]
corr_std1_old_wt_list = [1.]*a.shape[1]
corr_std2_cov_list = [0.]*a.shape[1]
corr_std2_sum_wt_list = [1.]*a.shape[1]
corr_std2_sum_wt2_list = [1.]*a.shape[1]
corr_std2_old_wt_list = [1.]*a.shape[1]
for i in range(1, a.shape[0]):
    aa,bb = a[i,:], a[i,:]
    corr_mean_x_list,corr_mean_y_list,corr_cov_list,corr_sum_wt_list,corr_sum_wt2_list,corr_old_wt_list\
            ,corr_std1_mean_x_list,corr_std1_mean_y_list,corr_std1_cov_list,corr_std1_sum_wt_list,corr_std1_sum_wt2_list,corr_std1_old_wt_list\
            ,corr_std2_mean_x_list,corr_std2_mean_y_list,corr_std2_cov_list,corr_std2_sum_wt_list,corr_std2_sum_wt2_list,corr_std2_old_wt_list,res\
    = ewmcorrN(aa=aa,bb=bb,com=10,corr_mean_x_list=corr_mean_x_list,corr_mean_y_list=corr_mean_y_list,corr_cov_list=corr_cov_list,corr_sum_wt_list=corr_sum_wt_list,corr_sum_wt2_list=corr_sum_wt2_list,corr_old_wt_list=corr_old_wt_list\
            ,corr_std1_mean_x_list=corr_std1_mean_x_list,corr_std1_mean_y_list=corr_std1_mean_y_list,corr_std1_cov_list=corr_std1_cov_list,corr_std1_sum_wt_list=corr_std1_sum_wt_list,corr_std1_sum_wt2_list=corr_std1_sum_wt2_list,corr_std1_old_wt_list=corr_std1_old_wt_list\
            ,corr_std2_mean_x_list=corr_std2_mean_x_list,corr_std2_mean_y_list=corr_std2_mean_y_list,corr_std2_cov_list=corr_std2_cov_list,corr_std2_sum_wt_list=corr_std2_sum_wt_list,corr_std2_sum_wt2_list=corr_std2_sum_wt2_list,corr_std2_old_wt_list=corr_std2_old_wt_list)
    print (res)

[0.00572396 0.00463478 0.62368601]
[0.15007858 0.00227398 0.51759869]
[0.51605045 1.25935733 0.3927663 ]
[0.38609518 1.38058405 0.35519567]
[ 0.38105664  1.47133564 11.93284831]
[ 0.34185762  1.16515152 11.53139827]
[ 0.47149919  1.07050007 10.57108703]
[0.55796658 1.60952569 8.84948075]
[0.47649255 1.60952569 7.68816265]
[ 0.47622445  1.97607726 14.66638986]
[ 0.43013633  1.68607048 13.61460841]
[ 0.53017061  1.48874184 12.69394482]
[ 0.57929289  1.85909481 11.17091215]
[ 0.51265902  1.79511725 10.05202733]
[ 0.51252935  1.90279083 15.60622615]
[ 0.46798098  2.63054138 14.51004199]
[ 0.55475393  2.7523744  12.9452394 ]
[ 0.59139691  2.63514141 11.95166386]
[ 0.57567868  2.64636974 11.10621624]
[ 0.5385712   4.71734708 13.50872539]
[ 0.51109015  4.20709328 13.49813997]
[ 0.62043484  4.55773634 13.37921768]
[ 0.62904578  5.19268497 12.29672147]
[ 0.57245636  4.66076444 11.57906974]
[ 0.56188094  4.29956878 14.07892219]
[ 0.52023801  3.86468289 13.87735086]
[ 0.60033141  4.13207163 13.66615319]
[ 0.62240758  4.86581638 12.59385354]
[ 0.56630407  4.38832114 11.89054398]

In [49]:
mean_x_list, mean_y_list = a[0,:], a[0,:]
cov_list = [0.]*a.shape[1]
sum_wt_list = [1.]*a.shape[1]
sum_wt2_list = [1.]*a.shape[1]
old_wt_list = [1.]*a.shape[1]
for i in range(1, a.shape[0]):
    aa,bb = a[i,:], b[i,:]
    mean_x_list,mean_y_list,cov_list,sum_wt_list,sum_wt2_list,old_wt_list,res = ewmcovN(aa=aa,bb=bb,com=10,mean_x_list=mean_x_list,mean_y_list=mean_y_list,cov_list=cov_list,sum_wt_list=sum_wt_list,sum_wt2_list=sum_wt2_list,old_wt_list=old_wt_list)
    print (res)

[0.01551725 0.19052901 2.12619799]
[ 0.41733202 -0.69433095 -0.38318171]
[ 0.736242   -1.74623085  0.56646921]
[ 0.5113749  -0.00555957 -1.00958444]
[0.48960642 0.87991981 9.30024589]
[0.42144919 0.75313994 9.38974262]
[6.41573239e-01 9.39955329e-03 9.91776541e+00]
[0.64775928 2.29068036 8.89662123]
[0.55524964 2.29068036 6.62021418]
[ 0.55359701  1.98262021 11.99499317]
[ 0.49018646  1.69290234 11.51554154]
[ 0.62747233  0.96518034 11.61505839]
[ 0.63772093  2.59353398 10.69408271]
[0.56513311 2.25235037 8.68150937]
[ 0.56790603  2.04207142 12.81914035]
[ 0.51141383  2.63352123 12.27930214]
[ 0.62215755  2.95269986 10.90238584]
[ 0.63302942  3.09134822 10.43260225]
[0.62655048 2.87597166 9.5668043 ]
[ 0.60858944  5.16432291 12.717353  ]
[ 0.55853007  4.62311082 12.41235186]
[ 0.67503628  4.80300964 12.60771445]
[ 0.66786152  5.64253238 11.91924632]
[ 0.60780254  5.06525534 11.00816557]
[ 0.59988379  4.59743732 14.00754308]
[ 0.55036921  4.14267722 13.50434639]
[ 0.6524239   4.41409976 13.50063945]
[ 0.65281327  5.17909881 12.71614706]
[ 0.59516594  4.67331524 11.79103107]

In [56]:
#mean_x, mean_y = a[0,1], b[0,1]
mean_x, mean_y = 0,0
cov = 0.
sum_wt = 1.
sum_wt2 = 1.
old_wt = 1.
for i in range(1, len(a[:,1])):
    cur_x,cur_y = a[i,1], b[i,1]
    sum_wt,sum_wt2,old_wt,mean_x,mean_y,cov,output = cur_ewmcov(cur_x=cur_x, cur_y=cur_y,com=10,sum_wt=sum_wt,sum_wt2=sum_wt2,old_wt=old_wt,mean_x=mean_x,mean_y=mean_y,cov=cov)
    print (output)

1.9999999999999991
1.2688821752265862
1.1530942844253667
0.823506695055265
-0.6565224699188368
-0.478409877638735
-0.7900487915448099
1.2484614622053527
1.2484614622053527
1.1323463940855931
0.9306192671069297
0.536394939986185
1.7934550655977186
1.5221628294393692
1.4547918799871313
2.2848872210872395
2.7706797724268415
3.025457799406065
2.766615243688997
4.88388393886724
4.356219259329844
4.634266858713177
5.400208405407478
4.8403689456917665
4.408582927882457
3.966323897688089
4.295587323142005
5.023435826939304
4.529865898289614

In [116]:
pa

      0    1    2
0   NaN  3.0 -4.0
1   2.0  4.0  5.0
2   3.0  4.0  6.0
3   1.0  7.0  5.0
4   2.0  4.0  6.0
5   1.0  3.0 -4.0
6   2.0  4.0  5.0
7   3.0  5.0  6.0
8   1.0  7.0  5.0
9   2.0  NaN  6.0
10  1.0  3.0 -4.0
11  2.0  4.0  5.0
12  3.0  5.0  6.0
13  1.0  7.0  5.0
14  2.0  4.0  6.0
15  1.0  3.0 -4.0
16  2.0  1.0  5.0
17  3.0  1.0  2.0
18  1.0  1.0  5.0
19  1.0  4.0  1.0
20  1.0  8.0 -4.0
21  2.0  4.0  5.0
22  3.0  1.0  6.0
23  1.0  7.0  5.0
24  2.0  4.0  1.0
25  1.0  3.0 -4.0
26  2.0  4.0  5.0
27  3.0  1.0  6.0
28  1.0  7.0  5.0
29  2.0  4.0  1.0

In [207]:
pa.pct_change(5)

      0         1         2
0   NaN       NaN       NaN
1   NaN       NaN       NaN
2   NaN       NaN       NaN
3   NaN       NaN       NaN
4   NaN       NaN       NaN
5   NaN  0.000000  0.000000
6   0.0  0.000000  0.000000
7   0.0  0.250000  0.000000
8   0.0  0.000000  0.000000
9   0.0  0.750000  0.000000
10  0.0  0.000000  0.000000
11  0.0  0.000000  0.000000
12  0.0  0.000000  0.000000
13  0.0  0.000000  0.000000
14  0.0 -0.428571  0.000000
15  0.0  0.000000  0.000000
16  0.0 -0.750000  0.000000
17  0.0 -0.800000 -0.666667
18  0.0 -0.857143  0.000000
19 -0.5  0.000000 -0.833333
20  0.0  1.666667  0.000000
21  0.0  3.000000  0.000000
22  0.0  0.000000  2.000000
23  0.0  6.000000  0.000000
24  1.0  0.000000  0.000000
25  0.0 -0.625000  0.000000
26  0.0  0.000000  0.000000
27  0.0  0.000000  0.000000
28  0.0  0.000000  0.000000
29  0.0  0.000000  0.000000

In [220]:
pa.rolling(3).apply(lambda x:x.prod())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

      0      1      2
0   NaN    NaN    NaN
1   NaN    NaN    NaN
2   NaN   48.0 -120.0
3   6.0  112.0  150.0
4   6.0  112.0  180.0
5   2.0   84.0 -120.0
6   4.0   48.0 -120.0
7   6.0   60.0 -120.0
8   6.0  140.0  150.0
9   6.0    NaN  180.0
10  2.0    NaN -120.0
11  4.0    NaN -120.0
12  6.0   60.0 -120.0
13  6.0  140.0  150.0
14  6.0  140.0  180.0
15  2.0   84.0 -120.0
16  4.0   12.0 -120.0
17  6.0    3.0  -40.0
18  6.0    1.0   50.0
19  3.0    4.0   10.0
20  1.0   32.0  -20.0
21  2.0  128.0  -20.0
22  6.0   32.0 -120.0
23  6.0   28.0  150.0
24  6.0   28.0   30.0
25  2.0   84.0  -20.0
26  4.0   48.0  -20.0
27  6.0   12.0 -120.0
28  6.0   28.0  150.0
29  6.0   28.0   30.0

In [237]:
pa.rolling(window=6, min_periods=5).cov(pb)

           0         1          2
0        NaN       NaN        NaN
1        NaN       NaN        NaN
2        NaN       NaN        NaN
3        NaN       NaN        NaN
4        NaN -1.000000  12.900000
5   0.650000 -2.200000  17.666667
6   0.533333 -2.266667  11.066667
7   0.800000 -2.700000  12.000000
8   0.600000 -1.600000  12.800000
9   0.533333 -0.100000  11.600000
10  0.666667  0.450000  20.600000
11  0.566667  1.900000  12.800000
12  0.800000  1.800000  13.600000
13  0.666667  3.400000  12.800000
14  0.566667  1.900000  11.600000
15  0.666667  1.733333  20.600000
16  0.566667  3.200000  12.800000
17  0.800000  4.300000  12.400000
18  0.666667  5.766667  11.333333
19  0.666667  2.266667  10.400000
20  0.700000  7.600000  16.566667
21  0.666667  7.766667  12.666667
22  0.966667  7.766667  13.900000
23  0.700000  8.566667  14.800000
24  0.666667  6.266667  14.266667
25  0.666667  6.700000  21.100000
26  0.566667  3.766667  14.800000
27  0.800000  5.066667  15.766667
28  0.666667  5.466667  14.800000
29  0.566667  3.766667  14.266667

In [307]:
pa

      0    1    2
0   1.0  3.0 -4.0
1   2.0  4.0  5.0
2   3.0  4.0  6.0
3   1.0  7.0  5.0
4   2.0  4.0  6.0
5   1.0  3.0 -4.0
6   2.0  4.0  5.0
7   3.0  5.0  6.0
8   1.0  7.0  5.0
9   2.0  NaN  6.0
10  1.0  3.0 -4.0
11  2.0  4.0  5.0
12  3.0  5.0  6.0
13  1.0  7.0  5.0
14  2.0  4.0  6.0

In [310]:
pa.fillna(method='backfill', axis=0)

      0    1    2
0   1.0  3.0 -4.0
1   2.0  4.0  5.0
2   3.0  4.0  6.0
3   1.0  7.0  5.0
4   2.0  4.0  6.0
5   1.0  3.0 -4.0
6   2.0  4.0  5.0
7   3.0  5.0  6.0
8   1.0  7.0  5.0
9   2.0  3.0  6.0
10  1.0  3.0 -4.0
11  2.0  4.0  5.0
12  3.0  5.0  6.0
13  1.0  7.0  5.0
14  2.0  4.0  6.0